.Recent-Posts{
    position: absolute;
    /* transform: translateY(100%); */
}
.text-Recent h2{
    font-family: "Great Vibes", cursive;
    color: rosybrown;
    position: absolute;
    transform: translateY(-30%);
    margin-left: 500px;
    margin-top: 10px;
    font-size: 80px;
}
 .text-Recent{
    padding: 10px;
    
 }
.text-Recent h1{
    margin-left: 500px;
    position: relative;
    margin-bottom: 10px;
}
.Blog img{
    width: 300px;
    height: 400px;
}
.img-Blog{
    width: 300px;
}
.img-Blog{
    background-color: rgb(229, 236, 234);
    margin-top: 30px;
}
.img-Blog p{
    color: gray;
}
.img-Blog h3{
    font-size: 25px;
}
.bb h4{
    padding: 5px;
    font-size: 15px;
}
.bb i{
    color: gray;
}
.footer{
    position: absolute;
    margin-top: 70%;
    background-color: rgb(26, 25, 25);
    width: 100%;
    height: 100vh;
}
.Feliciano{
    width: 20%;
    margin-top: 100px;
    color: white;
    margin-left: 100px;
    padding: 10px;
}
.Feliciano p{
    color: gray;
}
.Feliciano i{
    font-size: 20px;
}
.Open-Hours{
    width: 20%;
    margin-top: 100px;
    color: white;
    
}
.Open-Hours p{
    color: gray;
}
.img-inst img{
    width: 100px;
    height: 100px;
}
.ins{
    
    margin-top: 100px;
    color: white;
    
    padding: 10px;
}
.Newsletter{
    width: 15%;
    margin-top: 100px;
    color: white;
    margin-right: 100px;
    padding: 10px;
}
.Newsletter p{
    color: gray;
}
.Newsletter input{
    border: 0cap;
    padding: 10px;
}
.Newsletter button{
    padding: 10px;
    width: 202px;
    border: 0cap;
    margin-top: 10px;
    background-color: rosybrown;
    color: white;
}
 p{
    text-align: center;
    color: gray;
}















