/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    
}

.login-wrapper {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 50%;

}
.main{
    margin-top: 150px;
}
.inputs{
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    z-index: 5;
}



.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

#username {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}
#password {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 1rem;
}

.forgot-password {
    margin-top: 1rem;
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
